# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Database
*.db
*.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# Logs
*.log

# Build
build/
dist/

# OS Files
.DS_Store
Thumbs.db